[Unit]
Description=Smart meter daemon
Requires=mosquitto.service
After=mosquitto.service

[Service]
User=smartmeter
ExecStart=/usr/local/share/homeautomation/smartmeter.py
ExecReload=kill -HUP $MAINPID
#Restart=no
# Current implementation crashes when InfluxDB is not running
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
